#nav-toggle
  %div
    %span
    %span
    %span
#gloval-nav
  %nav
    %ul
      %li TECH ME
      %li 検索
      %li Q & A
      %li
        = link_to '投稿する',new_article_path
      %li 質問する
      %li マイページ
      -if user_signed_in?
        %li
          = link_to 'ログアウト',destroy_user_session_path,class: 'user-logout-btn',method: :delete
      -else
        %li
          =link_to 'ログイン', new_user_session_path