#nav-toggle
  %div
    %span
    %span
    %span
#gloval-nav
  %nav
    %ul
      %li TECH ME
      %li 検索
      %li
        =link_to 'Q & A', questions_path
      %li
        = link_to '投稿する',new_article_path
      %li
        =link_to '質問する', new_question_path
      %li
        =link_to 'マイページ', user_path(current_user.id)
      -if user_signed_in?
        %li
          = link_to 'ログアウト',destroy_user_session_path,class: 'user-logout-btn',method: :delete
      -else
        %li
          =link_to 'ログイン', new_user_session_path