#nav-toggle {
  position: fixed;
  top: 25px;
  left: 25px;
  height: 32px;
  cursor: pointer;

> div {
  position: relative;
  width: 36px;
}
span {
  width: 100%;
  height: 2px;
  left: 0;
  display: block;
  background: #000;
  position: absolute;
  transition: transform .3s ease-in-out, top .5s ease;
  
  /* #nav-toggle close */
  &:nth-child(1) {
    top: 0;
  }
  &:nth-child(2) {
    top: 14px;
  }
  &:nth-child(3) {
    top: 28px;
  }
}
&:hover span:nth-child(1) {
  top: 4px;
}
&:hover span:nth-child(3) {
  top: 23px;
}

}


.open #nav-toggle span {
&:nth-child(1) {
  top: 15px;
  transform: rotate(45deg);
}
&:nth-child(2) {
  top: 15px;
  width: 0;
  left: 50%;
}
&:nth-child(3) {
  top: 15px;
  transform: rotate(-45deg);
}
}



/* z-index */
#nav-toggle {
  z-index: 1000;
}
#container {
  z-index: 900;
}
#gloval-nav nav {
  z-index: 999;
}

#gloval-nav {
  background-color: rgb(59, 54, 54);
  color: #fff;
  position: fixed;
  width: 25%;
  top: 0;
  bottom: 0;
  z-index: 990;
  display: flex;
flex-direction: column;
justify-content: center;
  font-size: 25px;
  padding-left: 0;
  transform: translateX(-100%);
  transition:  transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.open #gloval-nav {
  transform: translateX(0);
}


#gloval-nav {
a {
  display: inline-block;
  color: #669966;
  text-decoration: none;
  padding: 10px 0;
  transition: color .6s ease;
}
ul {
  list-style: none;
  width: 160px;
  
  li {
    transform: translateX(-200px);
    transition:  transform 1.3s ease;
    position: relative;

    &:after {
      content: "";
      display: block;
      width: 500px;
      height: 2px;
      background: #000;
      left: -600px;
      position: absolute;
      transform: translateX(0);
      transition: transform 1s ease;
    }
    &:hover:after {
      transform: translateX(300px);
    }
    &:nth-child(2) {
      transition-delay: .15s;
    }
    &:nth-child(3) {
      transition-delay: .3s;
    }
    &:nth-child(4) {
      transition-delay: .45s;
    }
    &:nth-child(5) {
      transition-delay: .6s;
    }
    &:nth-child(6) {
      transition-delay: .75s;
    }
    &:nth-child(7) {
      transition-delay: .9s;
    }
  }
  .header__search{
    padding: 0;
    input{
      padding-left: 50px;
      height: 35px;
      width: 105%;
      font-size: 16px;
      border: none;
      border-bottom: 1px solid #e6e6e6;
      margin: 0 0 15px;
    }
    button{

    }
    label{
      i {
        font-size: 18px;
        position: absolute;
        top: 11px;
        left: 10px;
        color: #484848;
        padding: 3px 7px 3px 0;
        border-right: 1px solid #e6e6e6;
        cursor: pointer;
      }
    }
  }
  .title{
    font-family: 'Permanent Marker', cursive;
    color: #669966;
    padding: 0px 0px 30px;
    font-size: 30px;
  }
}

}

.open #gloval-nav li {
  transform: translateX(0);
  left: 20px;
}



.nav-bg {
  opacity: 0;
  background-image: linear-gradient(-45deg, #FF00BF, #FFEA00);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: all 1s ease;

&.active {
  opacity: 1;
}
&.news {
  background-image: linear-gradient(-45deg, #4400FF, #FFEA00);
}
&about {
  background-image: linear-gradient(-45deg,  #00FFCC, #FFEA00);
}
&.works {
  background-image: linear-gradient(-45deg, #EB1405, #FFEA00);
}
&.contact {
  background-image: linear-gradient(-45deg, #8B05EB, #FFEA00);
}
}

.user-logout-btn{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}